<!-- <div id="error_explanation">
<% if flight.errors.any? %>
  <h3>looks like we have some errors:</h3>
  <ul>
    <% flight.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  <% end %>
</div> -->
