<h2>edit airline</h2>

<%= render partial: 'form', locals: {airline: @airline, flight: @airline.flight} %>


<%= form_tag(airline_path(@airline),method: :delete) do %>
		<%= submit_tag "delete airline" %>
<% end %>
