// Place all the styles related to the Airlines controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.airline-form {
  text-align: center;
  color: white;
  margin: 5px;
  border: none;
}

.container-airlines {
  float:left;
  margin: 10px;
}

.delete-button {
  text-align: center;
  margin: 1.25%;
}
